:root{
    --colorSite : #25995C;
    --TailMax :71.25rem;
    --colorBg :#D9D9D9;
}
html{
    font-size: 90%;
}
main{
    display: flex;
   min-height: 100vh;
}
body{
   width: 100%;
   height: 100%;
    margin: 0 auto;
    font-family: 'Inria Serif', serif;
    flex-direction: row;
}
/* css dashbord */
.col1{
    width: 20%;
    height: 100vh;
    background-color: black;
}
.col2{
    width: 80%;
    height: 100%;
    background-color: var(--colorBg);
}
header{
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorSite);
}
li{
list-style-type: none;
}
nav{
    display: flex;
    align-items: center;

}
nav ul{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    
}
nav ul li{
    margin-right: 1.6rem;
    color: white;
}
.listImg img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.listImg{
display: flex;
align-items: center;
}
.listImg i {
    margin-left: .6rem;
    transform: rotate(-90deg);
    transform-origin: center;
    color: white;
  }
.btnNav{
    width: 25rem;
    height: 1.6rem;
    background-color: white;
    border: none;
    border-radius: .2rem;
}
.btnNav::placeholder{
    text-align: center;
}
.fa-solid{
    font-size: 1.5rem;
    color: white;
}
.listIcon{
    display: flex;
    align-items: center;
    justify-content: center;

}
.listIcon i{
    margin-right: 1.6rem;
    color: white;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.espace  h3{
    color: #ffff;
    margin-left: .7rem;

}
.espace {
    margin-top: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listLink{
    display: block;
    margin-top: 50px;

}
.listLink{
    display: block;
    
}
a{
    text-decoration: none;
    color: white;
}
.listLink ul li i{
   color: white;

}
.listLink ul li {
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 3rem;
 }
 .listLink ul li:hover {
    background-color: cadetblue;
  
 }

 .listLink ul li a {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
 }

 .dash{
   
    background-color: var(--colorSite);
    border-radius: 5px;
    margin-bottom: 20px;
 }
 .listLink ul li a{
    margin-left: 20px;
    
 }
svg{
    fill: white;
}
.dash{
    text-align: center;
}
.content{
   display: flex;
}
.interDash{
    width: 85%;
    background-color: var(--colorBg);
}

.listPersonel{
    width: 15%;
    height: 92vh;
    background-color: white;
}
.nombr{
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem;
}
.ouvr{

    width: 20rem;
    height: 5rem;
    background-color: white;
    text-align: center;
    padding: 0.5px;
    border-right: .5rem solid #14D428;

}
.tach{
    width: 20rem;
    height: 5rem;
    background-color: white;
    text-align: center;
    padding: 0.5px;
    border-right: .5rem solid #2F14D4;

}
.admin{
    width: 20rem;
    height: 5rem;
    background-color: white;
    text-align: center;
    padding: 0.5px;
    border-right: .5rem solid #D41414;
}
.tacheBloc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.tacheEncour{
    padding: .8rem;
    width: 60rem;
    background-color: white;
    border-top: 7px solid black;
}
.eclip{
    width: 20px;
    height: 20px;
    background-color: #25995C;
    border-radius: 100%;
}
.tachEn{
    display: flex;
    align-content: center;
    align-items: center;
}
.terminer{
    width: 150px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
}
.divTach{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.dat{
    display: flex;
    justify-content: end;
}
.tableau{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
        width: 70%;
        height: 22vh;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: var(--colorSite);
}

/* liste personnelle css */
.adminList{
    display: block;
   
}
.listen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listen img{
    width: 40px;
    height:40px;
    border-radius: 100%;
}
.eclipAdmin{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:#14D428;
}
.ouvriList{
    display: block;
}
.eclipouvri{
    color: red;
}
/* css ajout page */
.ajoutPerso{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.p-rect{
    height: 20px;
    width: 5PX;
    background-color: var(--colorSite);
}
.titleForm{
    display: flex;
    align-items: center;
}
.formPerso{
    margin-right: 10rem;
}
.K-form-input{
    width:60rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.K-form-input input{
    width: 25rem;
    height: 4rem;
    background-color: white;
    border: none;
}
.K-form-input input::placeholder{
    text-align: center;
}
.K-form-input select{
    width: 25rem;
    height: 4rem;
    border: none;background-color: #fff;
}
option{
    text-align: center;
}
.k-form-btn{
    display: flex;
    justify-content: end;
}
.k-form-btn button{
    width: 15rem;
    height: 4rem;
    background-color: var(--colorSite);
    border: none;
    color: #ffff;
}
.K-tach-info{
   display: block;
    
}
.K-card-1{
    width: 15rem;
    height: 5rem;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(20, 239, 20);
}
.K-card-2{
    width: 15rem;
    height: 5rem;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(243, 60, 60);
}
.K-card-3{
    width: 15rem;
    height: 5rem;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(229, 216, 38);
}
.K-regist{
    padding: 2rem;
    width: 40rem;

}
.K-form-input-regist{
    display: flex;
    justify-content: space-around;
}
.K-form-input-regist input{
    width: 25rem;
    height: 4rem;
    background-color: white;
    border: none;
    margin-right: 20px;
}
.K-form-input-regist input::placeholder{
    text-align: center;
}
.K-form-input-regist button{
    width: 15rem;
    height: 4rem;
    background-color: var(--colorSite);
    border: none;
    color: #ffff;
}
.K-tab-div{
    padding: 2rem;
    width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;

}
.k-color-i-1{
    color: #2F14D4;
}
.k-color-i-2{
    color: #d31c1c;
}
/* css ajout page */
@media screen and (max-width:1600px) {

    html{
        font-size: 80%;
    }
    main{
        display: flex;
        min-height: 100vh;
    }
    body{
        width: 100%;
        height: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
     .col1 {
        width: 20%;
        height: 100vh;
        background-color: black;
    }
    .col2{
        width:80%;
        height: 100vh;
        background-color: var(--colorBg);
    }
    .listPersonel {
        width: 20%;
        background-color: white;
    }
    .interDash{
        width: 80%;
        background-color: var(--colorBg);
    }
    .content{
        display: flex;
     }
}

@media screen and (max-width:1400px) {

    html{
        font-size: 60%;
    }
    main{
        display: flex;
        min-height: 100vh;
    }
    body{
        width: 100%;
        height: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
     .col1 {
        width: 20%;
        height: 100vh;
        background-color: black;
    }
    .col2{
        width:80%;
        height: 100vh;
        background-color: var(--colorBg);
    }
    .listPersonel {
        width: 20%;
        background-color: white;
    }
    .interDash{
        width: 80%;
        background-color: var(--colorBg);
    }
    
}
@media screen and (max-width:1230px) {

    html{
        font-size: 60%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
     main{
        display: flex;
        min-height: 100vh;
    }
     .col1 {
        width: 20%;
        height: 99.7vh;
        background-color: black;
    }
    .col2{
        width: 100%;
        height: 100vh;
        background-color: var(--colorBg);
    }
    .listImg img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .interDash{
        width: 75%;
        background-color: var(--colorBg);
    }
    .listPersonel {
        width: 25%;
        height: 92vh;
        background-color: white;
    }
    
}

@media screen and (max-width:1180px) {

    html{
        font-size: 60%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
     main{
        display: flex;
        min-height: 100vh;
    }
     .col1{
        width: 20%;
        height: 100vh;
        background-color: black;
    }
    .col2{
        width: 80%;
        height: 100vh;
        background-color: var(--colorBg);
    }
    .tacheEncour {
        padding: 0.8rem;
        width: 40rem;
        background-color: white;
        border-top: 7px solid black;
    }
    .divTach {
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .interDash{
        width: 75%;
        background-color: var(--colorBg);
    }
    .listPersonel {
        width: 25%;
        height: 92vh;
        background-color: white;
    }
    .listImg img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .ajoutPerso{
        padding: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .formAjoutPerso{
        display: flex;
        flex-wrap: wrap;
    }
    .p-rect{
        height: 20px;
        width: 5PX;
        background-color: var(--colorSite);
    }
    .titleForm{
        display: flex;
        align-items: center;
    }
    .formPerso{
        margin-right: 10rem;
    }
    .K-form-input{
        width:30rem ;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .K-form-input input{
        width: 10rem;
        height: 4rem;
        background-color: white;
        border: none;
    }
    .K-form-input input::placeholder{
        text-align: center;
    }
    .K-form-input select{
        width: 10rem;
        height: 4rem;
        border: none;background-color: #fff;
    }
    option{
        text-align: center;
    }
    .k-form-btn{
        display: flex;
        justify-content: end;
    }
    .k-form-btn button{
        width: 15rem;
        height: 4rem;
        background-color: var(--colorSite);
        border: none;
        color: #ffff;
    }
    .K-tach-info{
       display: block;
        
    }
    .K-card-1{
        width: 15rem;
        height: 5rem;
        background-color: #fff;
        padding: 5px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(20, 239, 20);
    }
    .K-card-2{
        width: 15rem;
        height: 5rem;
        background-color: #fff;
        padding: 5px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(243, 60, 60);
    }
    .K-card-3{
        width: 15rem;
        height: 5rem;
        background-color: #fff;
        padding: 5px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(229, 216, 38);
    }
    .K-regist{
        padding: 1rem;
        width: 40rem;
    
    }
    .K-form-input-regist{
        display: flex;
        justify-content: space-around;
    }
    .K-form-input-regist input{
        width: 25rem;
        height: 4rem;
        background-color: white;
        border: none;
        margin-right: 20px;
    }
    .K-form-input-regist input::placeholder{
        text-align: center;
    }
    .K-form-input-regist button{
        width: 15rem;
        height: 4rem;
        background-color: var(--colorSite);
        border: none;
        color: #ffff;
    }
    .K-tab-div{
        padding: .5rem;
        width: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
    
    }
    .k-color-i-1{
        color: #2F14D4;
    }
    .k-color-i-2{
        color: #d31c1c;
    }
    .foot{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        width: 100%;
        background-color: var(--colorSite);
    }
}
@media screen and (max-width:1000px) {
    html{
        font-size: 60%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
    
}
@media screen and (max-width:900px) {
    html{
        font-size: 55%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }

    html{
        font-size: 60%;
    }
   
     main{
        display: flex;
        min-height: 100vh;
    }
     .col1{
        width: 20%;
        height: 100vh;
        background-color: black;
    }
    .col2{
        width: 80%;
        height: 100vh;
        background-color: var(--colorBg);
    }
    .tacheEncour {
        padding: 0.8rem;
        width: 40rem;
        background-color: white;
        border-top: 7px solid black;
    }
    .divTach {
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .interDash{
        width: 75%;
        background-color: var(--colorBg);
        flex-direction: row;
    }
    .listPersonel {
        width: 25%;
        height: 92vh;
        background-color: white;
    }
    .listImg img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
    .ajoutPerso{

        padding: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    .formAjoutPerso{
        display: flex;
        flex-direction: row;

    }
    .p-rect{
        height: 20px;
        width: 5PX;
        background-color: var(--colorSite);
    }
    .titleForm{
        display: flex;
        align-items: center;
    }
    .formPerso{
        margin-right: 10rem;
    }
    .K-form-input{
        width:30rem ;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .K-form-input input{
        width: 10rem;
        height: 4rem;
        background-color: white;
        border: none;
    }
    .K-form-input input::placeholder{
        text-align: center;
    }
    .K-form-input select{
        width: 10rem;
        height: 4rem;
        border: none;background-color: #fff;
    }
    option{
        text-align: center;
    }
    .k-form-btn{
        display: flex;
        justify-content: end;
    }
    .k-form-btn button{
        width: 15rem;
        height: 4rem;
        background-color: var(--colorSite);
        border: none;
        color: #ffff;
    }
    .K-tach-info{
       display: block;
        
    }
    .K-card-1{
        width: 10rem;
        height: 7rem;
        background-color: #fff;
        padding: 1px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(20, 239, 20);
    }
    .K-card-2{
        width: 10rem;
        height: 7rem;
        background-color: #fff;
        padding: 1px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(243, 60, 60);
    }
    .K-card-3{
        width: 10rem;
        height: 7rem;
        background-color: #fff;
        padding: 1px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(229, 216, 38);
    }
    .K-regist{
        padding: 1rem;
        width: 40rem;
    
    }
    .K-form-input-regist{
        display: flex;
        justify-content: space-around;
    }
    .K-form-input-regist input{
        width: 25rem;
        height: 4rem;
        background-color: white;
        border: none;
        margin-right: 20px;
    }
    .K-form-input-regist input::placeholder{
        text-align: center;
    }
    .K-form-input-regist button{
        width: 15rem;
        height: 4rem;
        background-color: var(--colorSite);
        border: none;
        color: #ffff;
    }
    .K-tab-div{
        padding: .5rem;
        width: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
    
    }
    .k-color-i-1{
        color: #2F14D4;
    }
    .k-color-i-2{
        color: #d31c1c;
    }
    .foot{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        width: 100%;
        background-color: var(--colorSite);
    }
    
}
@media screen and (max-width:800px) {
    html{
        font-size: 55%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }

    html{
        font-size: 60%;
    }
   
     main{
        display: flex;
        min-height: 100vh;
    }
     .col1{
        width: 10%;
        height: 100vh;
        background-color: black;
    }
    .cach{
        display: none;
    }
    .listLink{
        display: block;
    
    }
    .listLink ul li i{
        color: white;
     
     }
     .listLink ul {
        display: inline;
        justify-content: center;
        align-items: center;
     }
     .listLink ul li {
         height: 3rem;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 3rem;
      }
      .listLink ul li:hover {
         background-color: cadetblue;
      }
     
      .listLink ul li a {
         width: 12rem;
         display: flex;
         align-items: center;
         justify-content: center; 
      }
      .listLink ul li a{
        margin-left: 0px;
     }
    .col2{
        width: 90%;
        height: 100vh;
        background-color: var(--colorBg);
    }
    .tacheEncour {
        padding: 0.8rem;
        width: 40rem;
        background-color: white;
        border-top: 7px solid black;
    }
   
    .divTach {
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .interDash{
        width: 75%;
        background-color: var(--colorBg);
        flex-direction: row;
    }
    .listPersonel {
        width: 25%;
        height: 92vh;
        background-color: white;
    }
    .listImg img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
    .ajoutPerso{

        padding: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    .formAjoutPerso{
        display: flex;
        flex-direction: row;

    }
    .p-rect{
        height: 20px;
        width: 5PX;
        background-color: var(--colorSite);
    }
    .titleForm{
        display: flex;
        align-items: center;
    }
    .formPerso{
        margin-right: 10rem;
    }
    .K-form-input{
        width:25rem ;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .K-form-input input{
        width: 10rem;
        height: 4rem;
        background-color: white;
        border: none;
    }
    .K-form-input input::placeholder{
        text-align: center;
    }
    .K-form-input select{
        width: 10rem;
        height: 4rem;
        border: none;background-color: #fff;
    }
    option{
        text-align: center;
    }
    .k-form-btn{
        display: flex;
        justify-content: end;
    }
    .k-form-btn button{
        width: 15rem;
        height: 4rem;
        background-color: var(--colorSite);
        border: none;
        color: #ffff;
    }
    .K-tach-info{
       display: block;
        
    }
    .K-card-1{
        width: 10rem;
        height: 7rem;
        background-color: #fff;
        padding: 1px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(20, 239, 20);
    }
    .K-card-2{
        width: 10rem;
        height: 7rem;
        background-color: #fff;
        padding: 1px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(243, 60, 60);
    }
    .K-card-3{
        width: 10rem;
        height: 7rem;
        background-color: #fff;
        padding: 1px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 2px solid rgb(229, 216, 38);
    }
    .K-regist{
        padding: 1rem;
        width: 40rem;
    
    }
    .K-form-input-regist{
        display: flex;
        justify-content: space-around;
    }
    .K-form-input-regist input{
        width: 25rem;
        height: 4rem;
        background-color: white;
        border: none;
        margin-right: 20px;
    }
    .K-form-input-regist input::placeholder{
        text-align: center;
    }
    .K-form-input-regist button{
        width: 15rem;
        height: 4rem;
        background-color: var(--colorSite);
        border: none;
        color: #ffff;
    }
    .K-tab-div{
        padding: .5rem;
        width: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
    
    }
    .k-color-i-1{
        color: #2F14D4;
    }
    .k-color-i-2{
        color: #d31c1c;
    }
    .foot{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        width: 100%;
        background-color: var(--colorSite);
    }
    
}
@media screen and (max-width:780px) {
    
    html{
        font-size: 50%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
     main{
        display: flex;
        min-height: 100vh;
    }
     .col1{
        width: 10%;
        height: 100vh;
        background-color: black;
    }
    .cach{
        display: none;
    }
    .listLink{
        display: block;
    
    }
    .listLink ul li i{
        color: white;
     
     }
     .listLink ul {
        display: inline;
        justify-content: center;
        align-items: center;
     }
     .listLink ul li {
         height: 3rem;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 3rem;
      }
      .listLink ul li:hover {
         background-color: cadetblue;
      }
     
      .listLink ul li a {
         width: 12rem;
         display: flex;
         align-items: center;
         justify-content: center; 
      }
      .listLink ul li a{
        margin-left: 0px;
     }
    .col2{
        width: 0%;
        height: 100vh;
        background-color: var(--colorBg);
    }
    .tacheEncour {
        padding: 0.8rem;
        width: 40rem;
        background-color: white;
        border-top: 7px solid black;
    }
    .divTach {
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .interDash{
        width: 75%;
        background-color: var(--colorBg);
    }
    .listPersonel {
        width: 25%;
        height: 92vh;
        background-color: white;
    }
    .listImg img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
    .foot{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        width: 100%;
        background-color: var(--colorSite);
    }
    
}