:root{
    --colorSite : #25995C;
    --TailMax :71.25rem;
    --colorBg :#D9D9D9;
}
html{
    font-size: 100%;
}
main{
    display: flex;
}
body{
   width: 100vw;
   height: 100vh;
    margin: 0 auto;
    font-family: 'Inria Serif', serif;
    flex-direction: row;
}
/* css dashbord */
.col1{
    width: 20rem;
    height: 100vh;
    background-color: black;
}
.col2{
    width: 100vw;
    height: 100vh;
    background-color: var(--colorBg);
}
header{
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorSite);
}
li{
list-style-type: none;
}
nav{
    display: flex;
    align-items: center;

}
nav ul{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    
}
nav ul li{
    margin-right: 1.6rem;
    color: white;
}
.listImg img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.listImg{
display: flex;
align-items: center;
}
.listImg i {
    margin-left: .6rem;
    transform: rotate(-90deg);
    transform-origin: center;
    color: white;
  }
.btnNav{
    width: 25rem;
    height: 1.6rem;
    background-color: white;
    border: none;
    border-radius: .2rem;
}
.btnNav::placeholder{
    text-align: center;
}
.fa-solid{
    font-size: 1.5rem;
    color: white;
}
.listIcon{
    display: flex;
    align-items: center;
    justify-content: center;

}
.listIcon i{
    margin-right: 1.6rem;
    color: white;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.espace  h3{
    color: #ffff;
    margin-left: .7rem;

}
.espace {
    margin-top: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listLink{
    display: block;
    margin-top: 50px;

}
.listLink{
    display: block;
    
}
a{
    text-decoration: none;
    color: white;
}
.listLink ul li i{
   color: white;

}
.listLink ul li {
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 3rem;
 }
 .listLink ul li:hover {
    background-color: cadetblue;
  
 }

 .listLink ul li a {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
 }

 .dash{
   
    background-color: var(--colorSite);
    border-radius: 5px;
    margin-bottom: 20px;
 }
 .listLink ul li a{
    margin-left: 20px;
    
 }
svg{
    fill: white;
}
.dash{
    text-align: center;
}
.content{
   display: flex;
   height: 80%;

}
.interDash{
    width: 85%;
    height: 92vh;
    background-color: var(--colorBg);
}

.listPersonel{
    width: 15%;
    height: 92vh;
    background-color: white;
}
.nombr{
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem;
}
.ouvr{

    width: 20rem;
    height: 5rem;
    background-color: white;
    text-align: center;
    padding: 0.5px;
    border-right: .5rem solid #14D428;

}
.tach{
    width: 20rem;
    height: 5rem;
    background-color: white;
    text-align: center;
    padding: 0.5px;
    border-right: .5rem solid #2F14D4;

}
.admin{
    width: 20rem;
    height: 5rem;
    background-color: white;
    text-align: center;
    padding: 0.5px;
    border-right: .5rem solid #D41414;
}
.tacheBloc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.tacheEncour{
    padding: .8rem;
    width: 60rem;
    background-color: white;
    border-top: 7px solid black;
}
.eclip{
    width: 20px;
    height: 20px;
    background-color: #25995C;
    border-radius: 100%;
}
.tachEn{
    display: flex;
    align-content: center;
    align-items: center;
}
.terminer{
    width: 150px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
}
.divTach{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.dat{
    display: flex;
    justify-content: end;
}
.tableau{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
        width: 70%;
        height: 22vh;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: var(--colorSite);
    position: sticky;
}

/* liste personnelle css */
.adminList{
    display: block;
   
}
.listen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listen img{
    width: 40px;
    height:40px;
    border-radius: 100%;
}
.eclipAdmin{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:#14D428;
}
.ouvriList{
    display: block;
}
.eclipouvri{
    color: red;
}


@media screen and (max-width:1258px) {

    html{
        font-size: 80%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
     .col1{
        width: 20rem;
        height: 100vh;
        background-color: black;
    }
    .col2{
        width: 100vw;
        height: 100vh;
        background-color: var(--colorBg);
    }
    
}

@media screen and (max-width:1180px) {

    html{
        font-size: 80%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
     .col1{
        width: 20rem;
        height: 100vh;
        background-color: black;
    }
    .col2{
        width: 100vw;
        height: 100vh;
        background-color: var(--colorBg);
    }
    
}
@media screen and (max-width:1000px) {
    html{
        font-size: 70%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
    
}
@media screen and (max-width:900px) {
    html{
        font-size: 55%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
    
}
@media screen and (max-width:780px) {
    html{
        font-size: 50%;
    }
    body{
        width: 100%;
         margin: 0 auto;
         font-family: 'Inria Serif', serif;
         flex-direction: row;
     }
    
}