:root{
    --colorSite : #25995C;
    --TailMax :71.25rem;
}
html{
    font-size: 100%;
}
body{
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Inria Serif', serif;
    flex-direction: row;
}
.col1{
    width: 10rem;
    height: 100vh;
    background-color: black;
}
.col2{
    width: 100vw;
    height: 100%;
    background-color: black;
}